Source: visita
Section: utils
Priority: extra
Maintainer: Hugo Ruscitti <hugoruscitti@gmail.com>
Build-Depends: debhelper (>= 8.0.0), git, npm
Standards-Version: 3.9.6
Homepage: http://www.conectarigualdad.gob.ar/congreso
Vcs-Browser: https://github.com/HuayraLinux/visita-HCDN

Package: visita
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, node-webkit (>= 0.11.2.4)
Description: Visita virtual al honorable congreso de la nación (requiere datos externos)
 ¡Una visita virtual al congreso desde tu netbook! Requiere datos que vienen en las netbooks
 del programa o que podés descargar desde http://huayra.conectarigualdad.gob.ar/visita-la-casa-del-pueblo
